<div *ngIf="!(authService.user$ | async)">
  <h3>Se connecter </h3>
  <form #login="ngForm" (ngSubmit)="loginUser()">
    <mat-form-field>
      <input matInput type="text" placeholder="email" name="email" [(ngModel)]="existingUser.email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="mot de passe" name="password" [(ngModel)]="existingUser.password">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Se connecter</button>
  </form>
</div>

<div *ngIf="authService.user$ | async">
  <span>connecté en tant que {{ (authService.user$ | async)?.email }}</span>
  <button mat-raised-button color="primary" type="button" (click)="logoutUser()">se déconnecter</button>
</div>
